# Set up the desired user and group ID for the container. Find this out by running `id` in the terminal.
UID=<your user id here>
GID=<your group id here>
# CRYPTO_KEYS: Comma separated list of 32 byte keys used for encryption. Keys should be 64-characters and hex encoded.
CRYPTO_KEYS=<your crypto keys here>
# DB_BLIND_INDEX_SALT: 32 byte salt used for blind indexing. Salt should be 64-characters and hex encoded.
DB_BLIND_INDEX_SALT=<your blind index salt here>
