{{ block "subject" . }}Password reset requested{{ end }}
{{ block "body" . }}
A password reset has been requested for your account. If you did not request this, please ignore this email and contact us.

To reset your password, please click the link below:

{{ .Global.BaseURL }}/password-resets?id={{ .View.ID }}&token={{ .View.Token }}

{{ end }}
