{{ define "title" }}Reset your password{{end}}

{{define "body"}}

<div class="w-full h-full bg-slate-100 flex flex-wrap justify-center items-start">
  <div class="w-full">
    {{ template "header" . }}
  </div>

  <div class="max-w-[480px] bg-slate-50 rounded-md shadow-md p-8">
    <h1 class="text-2xl">Reset your password</h1>

    {{ template "flash-messages" . }}

    <form action="/password-resets" id="reset-password" method="POST" class="mt-4">
      {{ template "csrf-input" . }}
      <input type="hidden" name="rawtoken.id" value="{{ .View.ID }}">
      <input type="hidden" name="rawtoken.token" value="{{ .View.Token }}">
      <input type="password" name="password" required class="text-input">
      <input type="submit" class="btn btn-blue mt-4" value="Reset password">
    </form>

  </div>
</div>

{{end}}
